<div class="forgogtPassword_page">
  <nav>
    <a href="#"><img src="Images/logo.svg" alt="logo" /></a>
  </nav>
  <div class="form-wrapper">
    <h2>Change password</h2>
    <p>{{ resetPasswordData.email }}</p>
    <form #form="ngForm" novalidate>
      <div class="mb-3">
        <p>
          Protect your account with a unique password 7 to 15 characters long.
        </p>
        <div class="form-control">
          <input
            type="email"
            required
            name="email"
            placeholder="Current Email"
            pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"
            [(ngModel)]="resetPasswordData.email"
            #email="ngModel"
            disabled
          />
        </div>
        <div *ngIf="email.invalid && email.touched" class="error">
          <div *ngIf="email.errors?.['required']" class="text-danger fs-6">
            Email is required.
          </div>
          <div *ngIf="email.errors?.['pattern']" class="text-danger fs-6">
            Email is invalid.
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-control input-container">
          <input
            [type]="passwordVisible ? 'text' : 'password'"
            name="password"
            [(ngModel)]="resetPasswordData.password"
            placeholder="Password"
            required
            pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[a-z])(?=.*\W).{7,15}$"
            #password="ngModel"
          />
          <i
            class="pass_icon fa-solid"
            [ngClass]="
              passwordVisible
                ? 'fa-eye'
                : 'fa-eye-slash
          '
            "
            (click)="togglePasswordVisible()"
          ></i>
        </div>

        <div *ngIf="password.invalid && password.touched" class="error">
          <div *ngIf="password.errors?.['required']" class="text-danger fs-6">
            Password is required.
          </div>
          <div *ngIf="password.errors?.['pattern']" class="text-danger fs-6">
            Password must contain 7 to 15 characters and at least one number,
            one uppercase, one lowercase, and one special character.
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-control input-container">
          <input
            [type]="confirmPasswordVisible ? 'text' : 'password'"
            name="confirmPassword"
            [(ngModel)]="resetPasswordData.confirmPassword"
            placeholder="Confirm Password"
            required
            pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[a-z])(?=.*\W).{7,15}$"
            #confirmPassword="ngModel"
          />
          <i
            class="pass_icon fa-solid"
            [ngClass]="
              confirmPasswordVisible
                ? 'fa-eye'
                : 'fa-eye-slash
          '
            "
            (click)="toggleConfirmPasswordVisible()"
          ></i>
        </div>

        <div *ngIf="confirmPassword.invalid && password.touched" class="error">
          <div *ngIf="confirmPassword.errors?.['required']" class="text-danger fs-6">
           Confirm password is required.
          </div>
          <div *ngIf="confirmPassword.errors?.['pattern']" class="text-danger fs-6">
            Password must contain 7 to 15 characters and at least one number,
            one uppercase, one lowercase, and one special character.
          </div>
        </div>
      </div>

      <button type="submit" [disabled]="form.invalid">Save</button>
       <button class="btn btn-light" >Cancel</button>
    </form>
    <div class="form-help">
      <p>Back to <a href="/Login">Sign in</a></p>
    </div>

    <!-- Enter an email to -->
    <small>
      This page is protected by Google reCAPTCHA to ensure you're not a bot.
      <a href="#">Learn more.</a>
    </small>
  </div>
</div>
