<div class="forgogtPassword_page">
  <nav>
    <a href="#"><img src="Images/logo.svg" alt="logo" /></a>
  </nav>
  <div class="form-wrapper">
    <h4>Update password</h4>
    <form #form="ngForm"  (ngSubmit)="sendEmail()"novalidate>
      <div class="mb-3">
        <p>
          We will send you an email with instruction on how to reset your
          password.
        </p>
        <div class="form-control">
          <input
            type="email"
            required
            name="email"
            placeholder="Email"
            pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"
            #email="ngModel"
            [(ngModel)]="forgotPasswordData.email"
          />
        </div>
        <div *ngIf="email.invalid && email.touched" class="error">
          <div *ngIf="email.errors?.['required']" class="text-danger fs-6">
            Email is required.
          </div>
          <div *ngIf="email.errors?.['pattern']" class="text-danger fs-6">
            Email is invalid.
          </div>
        </div>
      </div>
      <div *ngIf="errorMessage" class="error-message text-danger mb-3">
        {{ errorMessage }}
      </div>
      <div *ngIf="successMessage" class="error-message text-info mb-3">
        {{ successMessage }}
      </div>

      <button type="submit" [disabled]="form.invalid">
        <span *ngIf="!isLoading">Email Me</span>
        <span *ngIf="isLoading"> ... </span>
      </button>
    </form>
    <div class="form-help">
      <p>Back to <a href="/Login">Sign in</a></p>
    </div>
    <p class="text-info text-center">I can't remember my email address</p>
    <!-- Enter an email to -->
    <small>
      This page is protected by Google reCAPTCHA to ensure you're not a bot.
      <a href="#">Learn more.</a>
    </small>
  </div>
</div>
